<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<h1>Welcome, it's using Vue.js as presentation layer</h1>

<div id="app">
    <h2>Try bind</h2>
    <span v-bind:title="title">{{ message }}</span>
</div>

<div id="app1">
    <h2>Try if else</h2>
    <p v-if="visible">Can you see me?</p>
</div>

<div id="app2">
    <h2>Try for loop</h2>
    <h3>NBA Stars</h3>
    <ol>
        <li v-for="ele in elements">
            {{ ele.name }}
        </li>
    </ol>
</div>

<div id="app3">
    <h2>Try method</h2>
    <p>{{ message }}</p>
    <button v-on:click="reverse">REVERSE</button>
</div>

<div id="app4">
    <h2>Try v-model</h2>
    <p>{{ message }}</p>
    <label>
        <input v-model="message">
    </label>
</div>

<div id="app5">
    <h2>Try model</h2>
    <ol>
        <players v-for="player in players" v-bind:player="player"></players>
    </ol>
</div>

</body>
</html>