<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="Player" type="cn.van.kuang.mybatis.Player"/>
    </typeAliases>

    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="dbc:h2:~/test"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="PlayerMapper.xml"/>
    </mappers>

</configuration>